<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Users/Tibbers/Documents/UTDAllMaterial/USstudying/2015Fall/OperatingSystemConcepts5348.002/projects/OperatingSystemProject2/program/program.xcodeproj</string>
</dict>
</plist>
